@page
@model TelemetryProject_.Pages.FinalPageModel
@{
}
<h1>This is the final page</h1>
<div class="jumbotron">
    <form method="post">
        <button type="submit">Push this button to go to the first page</button>
    </form>
    <form method="post">
        <button asp-page-handler="Second">go to second page</button>
    </form>
    <form method="post">
        <button asp-page-handler="Third">go to third page</button>
    </form>
</div>