@page
@model IndexModel
@{
    ViewData["Title"] = "1'st page";
}

<div class="text-center">
    <form method="post">
        <button type="submit">Go to the second page</button>
    </form>
    <form method="post">
      <button asp-page-handler="Final">go to Final page</button>
    </form>
</div>
