@page
@model IndexModel
@{
    ViewData["Title"] = "1'st page";
}

<div class="text-center">
    <form method="post">
        <button type="submit">Go to the second page</button>
    </form>
    <div>
        <a asp-page="./FinalPage" asp-route-id="2"><button>go to Final page</button></a>
    </div>
</div>
